* {
    margin: 0; /*Remove as margens padrões de todos os elementos*/
    padding: 0;/*Remove o preenchimento padrão de todos os elementos*/
    box-sizing: border-box;/*Isso garante que o padding e a borda sejam incluídos no cálculo do tamanho dos elementos*/
}
body{
    font-family: 'Times New Roman', Times, serif;
      background-color: rgb(0, 0, 0);
      color:rgb(255, 255, 255);
      display: flex; /*Utiliza o modelo de leiaute flexbox para o corpo do documento*/
      justify-content: center; /*Centraliza os elementos horizontalmente*/
      align-items: center;/*Centraliza os elementos verticalmente*/
      height: 100vh;/*Define a altura do corpo como 100% da altura da janela de visualização (viewport)*/
}

.card-container {
    display: flex; /*Utiliza o modelo de leiaute flexbox para os itens dentro do container */
    justify-content: space-around; /*Distribui os cartões com espaço igual entre eles */
    gap: 20px; /* adiciona um espaçamento de 20 pixels entre os cartões */
    flex-wrap: wrap;  /*Permite que os cartões quebrem a linha quando não couberem na largura disponível */
    padding: 20px; /* Adiciona um preenchimento de 20px ao redor do Container */
}
.card {
    background-color: rgb(31, 31, 31);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aplica uma transição suave para o efeito de transformação de sombra */
}
.card:hover{
    transform: translateY(-30px);
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.5);;
}
button{
    padding: 1px 2px 3px 4px;

    
}
button:hover{
    transform: scale(1.1);
    color:white;    
    transition: 1s;

}
