
#botao{
height: 80px;
width:250px;
text-align: center;
justify-content: center;
}

body{
    background-color: rgb(121, 62, 177);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 248vh;
    margin: 20px;
    
}

h1 {
    font-size: 55px;
}

#Cbj{
 color: #ffffff;
 background: rgb(80, 36, 122); 
 font-size: medium;
 font-family: 'Times New Roman', Times, serif;
 padding: 15px;
 border-radius: 15px;
}
ul, ol {
    text-align: left;
    align-self: flex-start;

}
.redes {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center; 
}

.redes a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

/* hover funcionando */
.tiktok:hover {
    transform: scale(1.3);
    color: #54ddff; /* cor visível do TikTok */
}

.instagram:hover {
    transform: scale(1.3);
    color: #e75988;
}
.youtube:hover {
    transform: scale(1.3);
    color: red;
}
.linkedin:hover{
    transform: scale(1.3);
    color: rgba(0, 55, 255, 0.793);
}    

table {
    color: aliceblue;
    border-radius: 5px;
}
